body {
    font-family: sans-serif;
}

header {
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid #b9b9b9;
    box-shadow: 1px 1px 1px #b9b9b9;
    text-align: center;
}

header h1 {
    font-size: 45px;
    padding-top: 20px;
}